
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

html {
  font-size: 17px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #000;
}




#bt-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  position:fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

hr{
  height: 1px;
  background-color: #000;
}



.align-horiz {
  display: flex;
  flex-wrap: wrap;
}

.align-vert {
  display: flex;
  flex-direction: column;
}

.align-wrap{
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  background: #F5F5F5;
  position: fixed;
  transition: 0.4s;
  top:0 ;
  width: 100%;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar li a {
  display: flex;
  text-decoration: none;
  margin-left: 35px;
  cursor: pointer;
}

.navbar li a:hover{
  color: rgb(0, 191, 255);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 0px 10px 10px;
  opacity: 0.6;
  padding: 5px 10px 5px 10px;
}


.button {
  display: flex;
  justify-content: end;
  margin-left: 30px;
  margin: 10px 40px 10px 40px;
margin-right: 50px;
}

.button a {
  text-decoration: none;
}
/*/////////////////////////////////////////////*/

#bloc{
  margin-top: 150px;
}

 .container-top h1{
  font-size: 80px;
  color: rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  
transition: 0.6s ease;
}

.container-top h3{
  margin-top: 20px;
  font-size: 30px;

}

.container-top p {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin-top: 50px;
font-size: 20px;
}

.container-top h3 {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.contact {
  color: black;
  background-color: #fff;
position: relative;
margin-top: 50px;
padding: 20px 10px 20px 10px;
border-radius: 50px;
}

.contact:hover {
  background-color:#4CAF50 ;
}

/*///////////////SECTION BLOC//////////////////////*/

#bloc2{
  display: flex;
justify-content: center;
margin-top: 50px;
}


article {
  width: 250px;
  height: 250px;
  border-radius: 15%;
  background-color: wheat;
margin:60px;
text-align: center;
}

.web article{
  border-bottom: 15px solid red;
}

.advertising article{
  border-bottom: 15px solid green;
}

.seo article{
  border-bottom: 15px solid blue;
}

.uiux article{
  border-bottom: 15px solid violet;
}

.web i{
  font-size: 50px;
color: red;
position: relative;
left: -40px;
top: 30px;
}

.advertising i{
  font-size: 50px;
color: green;
position: relative;
left: -40px;
top: 30px;
}

.seo i{
  font-size: 50px;
color: blue;
position: relative;
left: -40px;
top: 30px;
}

.uiux i{
  font-size: 50px;
color: violet;
position: relative;
left: -40px;
top: 30px;
}


figure h3 {
  display: flex;
  justify-content: start;
align-items: baseline;
margin-top: 50px;
margin-left: 15px;
}

figure p{
  margin-top: 30px;
  margin-left: -180px;
}


/*//////////////////FOOTER//////////////////*/


#end {
  margin-top: 250px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: white;
}

#end ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

#end li a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#end img {
  width: 3rem;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.home-sci {
  margin-top: 20px;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
}

.home-sci a {
  
  text-decoration: none;
  
}



.copyright p {
display: flex;
justify-content: flex-end;
font-family:'Montserrat', sans-serif ;
font-style: oblique;
font-size: 15px;
color: #000;
font-weight: 600;
}

.copyright p:hover {
  color: #18A0FB;
}

.copyright a{
  text-decoration: none;
}
