
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

html {
  font-size: 17px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #000;
}




#bt-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  position:fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

hr{
  height: 1px;
  background-color: #000;
}



.align-horiz {
  display: flex;
  flex-wrap: wrap;
}

.align-vert {
  display: flex;
  flex-direction: column;
}

.align-wrap{
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  background: #F5F5F5;
  position: fixed;
  transition: 0.4s;
  top:0 ;
  width: 100%;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar li a {
  display: flex;
  text-decoration: none;
  margin-left: 35px;
  cursor: pointer;
}

.navbar li a:hover{
  color: rgb(0, 191, 255);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 0px 10px 10px;
  opacity: 0.6;
  padding: 5px 10px 5px 10px;
}


.button {
  display: flex;
  justify-content: end;
  margin-left: 30px;
  margin: 10px 40px 10px 40px;
margin-right: 50px;
}

.button a {
  text-decoration: none;
}
/*/////////////////////////////////////////////*/

#bloc{
  margin-top: 100px;
}

 .container-top h1{
  font-size: 60px;
  color: rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 80px;
transition: 0.6s ease;
}

.container-top p {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.container-top h3 {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.btn {
  color: black;
  background-color: #fff;
position: relative;
left: 45%;


}

.btn:hover {
  background-color:#4CAF50 ;
}

/*///////////////SECTION BLOC//////////////////////*/

#bloc{
  display: flex;
justify-content: center;

}


article {
  width: 250px;
  height: 250px;
  
  background-color: wheat;
margin:60px;
text-align: center;
}

.web article{
  border-bottom: 10px solid red;
}

.advertising article{
  border-bottom: 10px solid green;
}

.seo article{
  border-bottom: 10px solid blue;
}

.uiux article{
  border-bottom: 10px solid violet;
}

.web i{
  font-size: 50px;
color: red;
}

.advertising i{
  font-size: 50px;
color: green;
}

.seo i{
  font-size: 50px;
color: blue;
}

.uiux i{
  font-size: 50px;
color: violet;
}

figure h3 {
  display: flex;
  justify-content: start;
align-items: baseline;
}