@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

html {
  font-size: 17px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background: #fff;
}

h1 {
  font-family: 'Dosis', sans-serif;
}

.align-horiz {
  display: flex;
  flex-wrap: wrap;
}

.align-vert {
  display: flex;
  flex-direction: column;
}

.navbar button {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  padding: 10px 40px 10px 40px;

}


.navbar {
  background: #F5F5F5;
  position: fixed;
  transition: 0.4s;
  top:0 ;
}




.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar li a {
  display: flex;
  text-decoration: none;
  margin-left: 35px;
  cursor: pointer;
}

.navbar li a:hover{
  color: rgb(0, 191, 255);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 0px 10px 10px;
  opacity: 0.6;
  padding: 5px 10px 5px 10px;
}

.button a {
  text-decoration: none;
}

.video{
margin-top: -39px;

}


#training {
  display: block;
  flex-direction: row;
  margin-top: 90px;

}

#training button:hover{
  background-color:#18A0FB ;
  color: #fff;
}


#training h1 {
  display: block;
  margin-left: 100px;
}

.website {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;
  position: relative;
  left: 100px;
}

.website h2 {
  font-weight: 700;
  font-size: 24px;
}

.website p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;
}

.website button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.advertising {
  display: block;
  flex-wrap: wrap;
  position: relative;
  left: 432px;
  margin-top: 40px;
}

.advertising h2 {
  font-weight: 700;
  font-size: 24px;
}

.advertising p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;
}

.advertising button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.seo {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 100px;
  margin-top: 50px;
}

.seo h2 {
  font-weight: 700;
  font-size: 24px;
}

.seo p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;
}

.seo button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.design {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  left: 270px;
  margin-top: 50px;
}

.design h2 {
  font-weight: 700;
  font-size: 24px;
}

.design p {

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;

}

.design button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

#former-container {
  margin-top: 150px;
}



#former-container img {
  width: 750px;
  height: 380px;
  margin-left: 120px;
}

.text-former {
  position: relative;
  left: 150px;
  top: 80px;
}

#price-container {
  margin-top: 100px;
  background: #F5F5F5;
  width: auto;
}

#price-container img {
  width: 750px;
  height: 380px;
  margin-left: 900px;

}

#price-container article {
  position: relative;
  top: -50px;
}

.text-price {
  position: relative;
  left: 150px;
  top: 210px;

}



.box-shadow {
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
  -webkit-box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
  -moz-box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
}


#web-former {
  margin-top: 150px;
  
}

#web-former h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#web-former h3 {
  text-align: center;
  margin-top: 60px;
}




.primary-block {
  display: flex;
  justify-content: space-around;
  margin: 70px;
  font-size: 20px;
}

.primary-block article{
  margin: 0px 40px 40px 0px;
  
}

.primary-block img{
  width: 15rem;
}

.primary-block p{
  font-size: 20px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
text-overflow:ellipsis;
width: 200px;
height: auto;
margin-bottom: auto;
}

.primary-block figcaption {
  display: flex;
  justify-content: center;
  
}



.secondary-block {
  display: flex;
  justify-content: space-around;
  margin: 70px;
  font-size: 20px;
}

.secondary-block article{
  margin: 0px 40px 40px 0px;
  
}

.secondary-block img{
  width: 15rem;
}
 
.secondary-block p{
  font-size: 20px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
text-overflow:ellipsis;
width: 200px;
height: auto;
margin-bottom: auto;

}

.secondary-block figcaption {
  display: flex;
  justify-content: center;
}


/*/////////////////////////////////*/

#background-grey {
  margin-top: 100px;
  background: #F5F5F5;
  color: #000;
  width: 100%;
  height: 450px;
}

#background-grey h2 {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-left: 10%;
  font-size: 35px;
  font-weight: 300;

}

#background-grey a {
  color: blue;
  display: flex;
  margin-top: 200px;

  text-decoration: none;
  margin-left: 100px;
}

#propos {
  margin-top: 100px;
  text-decoration: none;

}

#propos ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

#propos li a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#propos img {
  width: 3rem;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.home-sci {
  margin-top: 20px;
  font-size: 50px;
  align-items: center;
  text-decoration: none;
}

.home-sci a {
  position: relative;
  left: 850px;
}

.copyright p {
display: flex;
justify-content: flex-end;
font-family:'Montserrat', sans-serif ;
font-style: oblique;
font-size: 15px;
color: #000;
font-weight: 600;
}

.copyright p:hover {
  color: #18A0FB;
}

.copyright a{
  text-decoration: none;
}

@media screen and (max-width: 370px){

.navbar {
display: flex;
justify-content: center;
}

}