* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}


.align-horiz {
  display: flex;
}

.align-vert {
  display: flex;
  flex-direction: column;
}

.align-wrap{ 
  display: flex;
}

video{
  max-width: fit-content;
  
}




.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
    position: relative;
    justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar li a{
  display: flex;
  text-decoration:none ;
  margin-left: 35px;
}

.search {
  display: flex;
  justify-content: flex-end;
}

#training {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.website{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.advertising{
  display: flex;
  flex-wrap: wrap;
justify-content: flex-end;
}

.seo{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.design{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}



