@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

html {
  font-size: 17px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background: #fff;
}

h1{
  font-family: 'Dosis', sans-serif; 
}

.align-horiz {
  display: flex;
  flex-wrap: wrap;
}

.align-vert {
  display: flex;
  flex-direction: column;
}

.navbar button {
  display: flex;
  justify-content: flex-end;
margin-left: 30px;
padding: 10px 40px 10px 40px;

}


.navbar {
  background: pink;
position: fixed;

transition: 0.4s;
}





.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
    position: relative;
    justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar li a{
  display: flex;
  text-decoration:none ;
  margin-left: 35px;
}

.search {
  display: flex;
  justify-content: flex-end;
}

#training {
  display: block;
  flex-direction: row;
  margin-top: 90px;

}

#training h1{
  display: block;
  margin-left: 100px;
}

.website{
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
margin-top: 40px;
position: relative;
left: 100px;
}

.website h2{
font-weight: 700;
font-size: 24px;
}
 .website p{
font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.27px;
 }

 .website button{
  background-color:#FFF ;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
 }
.advertising{
  display: block;
  flex-wrap: wrap;
position: relative;
left: 432px;
margin-top: 40px;
}

.advertising h2{
font-weight: 700;
font-size: 24px;
}

.advertising p{
font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.27px;
}

.advertising button{
  background-color:#FFF ;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
 }
.seo{
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
margin-left: 100px;
margin-top: 50px;
}

.seo h2{
font-weight: 700;
font-size: 24px;
}

.seo p{
font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.27px;
}

 .seo button{
  background-color:#FFF ;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
 }

.design{
  display: block;
  flex-wrap: wrap;
  justify-content: flex-end;
position: relative;
left: 270px;
margin-top: 50px;
}

.design h2{
font-weight: 700;
font-size: 24px;
}

.design p{

font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.27px;

}

.design button{
  background-color:#FFF ;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
 }

#former-container{
  margin-top: 150px;
}



#former-container img{
  width: 750px;
  height: 380px;
  margin-left: 120px;
}

.text-former{
  position: relative;
  left: 150px;
top: 80px;
}

#price-container{
  margin-top: 100px;
  background-color: rgb(245, 237, 237);
  width: auto;
}

#price-container img{
  width: 750px;
  height: 380px;
  margin-left: 900px;
  
}

#price-container article{
  position: relative;
 top: -50px;
}

.text-price{
position: relative;
left: 150px;
top: 210px;

}












#web-former{
  margin-top: 150px;
}
#web-former h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
font-size: 40px;
display: flex;
justify-content: center;
}

#web-former h3{
  text-align:center ;
margin-top: 60px;
}

#web-former .card{
  margin-top: 60px;
}

 .all-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px  ;
}

.all-card .card1{
position: relative;
top: -50px;}