@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

html {
  font-size: 17px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background: #fff;
}

h1{
  font-family: 'Dosis', sans-serif; 
}

.align-horiz {
  display: flex;
  flex-wrap: wrap;
}

.align-vert {
  display: flex;
  flex-direction: column;
}

.navbar button {
  display: flex;
  justify-content: flex-end;
margin-left: 30px;
padding: 10px 40px 10px 40px;

}







.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
    position: relative;
    justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar li a{
  display: flex;
  text-decoration:none ;
  margin-left: 35px;
}

.search {
  display: flex;
  justify-content: flex-end;
}

#training {
  display: block;
  flex-direction: row;
}

#training h1{
  display: block;
  margin-top: 90px;
  margin-left: 100px;
}

.website{
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
margin-top: 40px;
position: relative;
left: 100px;
}

.advertising{
  display: block;
  flex-wrap: wrap;
position: relative;
left: 450px;
margin-top: 40px;
}

.seo{
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
margin-left: 100px;
margin-top: 50px;
}

.design{
  display: block;
  flex-wrap: wrap;
  justify-content: flex-end;
position: relative;
left: 270px;
margin-top: 50px;
}



