* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

html {
  font-size: 17px;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;

}



#bt-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:black;
  color: white;
  position:fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

hr{
  height: 1px;
  background-color: #000;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #F5F5F5;
}

.align-horiz {
  display: flex;
  flex-wrap: wrap;
}

.align-vert {
  display: flex;
  flex-direction: column;
}

.align-wrap{
  display: flex;
  flex-wrap: wrap;
}


header .navbar {
  background: #000000;
  height: 115px;
  width: 100%;
}




header .navbar ul {
  list-style-type: none;

  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

header .navbar li a {
  font-family: 'Dosis', sans-serif;
font-size: 26px;
margin: 15px;
 color: #fff;
  text-decoration:none;
}





header .button {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  position: relative;
  left:-60px;
}

iframe{
  display: block; 
  margin: 0 auto;
  width:960px;
   height:515px;
}

.video iframe{
width: 100%;
}

/*//////////////LOGIN BUTTON ANIMATION /////////*/

.login{
  
left: -90px;
padding: 5px 20px 5px 20px;
display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 1px solid #fff;
  border-radius: 4px;
}

.login:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 4px;

}

.login:hover , .login:focus , .login:active{
  color: rgb(255, 255, 255);
}

.login:hover:before , .login:focus:before , .login:active:before{
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*//////////////REGISTER BUTTON ANIMATION /////////*/

.register{
  color: #fff;
  left: -40px;
  padding: 5px 20px 5px 20px;
  display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #000000;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid #fff;
    border-radius: 4px;

  }
  
  .register:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 4px;

  }
  
  .register:hover , .register:focus , .register:active{
    color: rgb(0, 0, 0);
  }
  
  .register:hover:before , .register:focus:before , .register:active:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

/*///////////////////////////////////////////////////*/


#training {
  display: block;
  flex-direction: row;
  margin-top: 90px;

}

#training button:hover{
  background-color:#18A0FB ;
  color: #fff;
}


#training h1 {
  display: block;
  margin-left: 100px;
}

.website {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 90px;
  position: relative;
  left: 100px;
}

.website h2 {
  font-weight: 700;
  font-size: 24px;
}

.website p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;
}

.website button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.advertising {
  display: block;
  flex-wrap: wrap;
  position: relative;
  left: 290px;
  margin-top: 90px;
}

.advertising h2 {
  font-weight: 700;
  font-size: 24px;
}

.advertising p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;
}

.advertising button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.seo {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 100px;
  margin-top: 90px;
}

.seo h2 {
  font-weight: 700;
  font-size: 24px;
}

.seo p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;
}

.seo button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.design {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  left: 120px;
  margin-top: 90px;
}

.design h2 {
  font-weight: 700;
  font-size: 24px;
}

.design p {

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.27px;

}

.design button {
  background-color: #FFF;
  color: rgb(0, 149, 255);
  border: 1px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

/*/////////////////////DEV WEB//////////////////////////////*/

#web-container {
  margin-top: 150px;
}



#web-container img {
  width: 500px;
  height: 250px;
  margin-left: 100px;
}

.text-web {
  position: relative;
  left: 150px;
  top: 80px;
  
}

.text-web h2{
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}
.text-web p{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
}


/*/////////////////////ADVERTISING///////////////////////*/

#advertising-container {
  margin-top: 100px;
  
  }

#advertising-container img {
  width: 500px;
  height: 250px;
  margin-left: 100px;
}


.text-advertising {
  position: relative;
  left: 150px;
  top: 80px;
  
}

.text-advertising h2{
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;

  }

.text-advertising p {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
}


/*/////////////////////SEO//////////////////////////////*/
#seo-container {
  margin-top: 100px;
  
  }

#seo-container img {
  width: 500px;
  height: 250px;
  margin-left: 100px;
}


.text-seo {
  position: relative;
  left: 150px;
  top: 80px;
  
}

.text-seo h2{
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;

  }

.text-seo p {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
}




/*////////////////////////DESIGN///////////////////////////*/
#design-container {
  margin-top: 100px;
  
  }

#design-container img {
  width: 500px;
  height: 250px;
  margin-left: 100px;
}


.text-design {
  position: relative;
  left: 150px;
  top: 80px;
  
}

.text-design h2{
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;

  }

.text-design p {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
}



.box-shadow {
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
  -webkit-box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
  -moz-box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
}


#web-former {
  margin-top: 150px;
  
}

#web-former h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#web-former h3 {
  text-align: center;
  margin-top: 60px;
}




.primary-block {
  display: flex;
  justify-content: space-around;
  margin: 70px;
  font-size: 20px;
  
}

.primary-block article{
  margin: 0px 40px 40px 0px;
  
}

.primary-block img{
  width: 15rem;
}

.primary-block p{
  font-size: 20px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
text-overflow:ellipsis;
width: 200px;
height: auto;
margin-bottom: auto;
}

.primary-block figcaption {
  display: flex;
  justify-content: center;
  text-decoration: dotted;
}



.secondary-block {
  display: flex;
  justify-content: space-around;
  margin: 70px;
  font-size: 20px;
}

.secondary-block article{
  margin: 0px 40px 40px 0px;
  
}

.secondary-block img{
  width: 15rem;
}
 
.secondary-block p{
  font-size: 20px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
text-overflow:ellipsis;
width: 200px;
height: auto;
margin-bottom: auto;

}

.secondary-block figcaption {
  display: flex;
  justify-content: center;
}




/*/////////////////////////////////*/

#background-grey {
  margin-top: 100px;
  background: #F5F5F5;
  color: #000;
  width: 100%;
  height: 450px;
}

#background-grey h2 {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-left: 10%;
  font-size: 35px;
  font-weight: 300;

}

#background-grey a {
  color: blue;
  display: flex;
  margin-top: 200px;

  text-decoration: none;
  margin-left: 100px;
}

#propos {
  margin-top: 100px;
  text-decoration: none;

}

#propos ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

#propos li a {
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: black;
}

#propos img {
  width: 3rem;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.home-sci {
  margin-top: 20px;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
}

.home-sci a {
  
  text-decoration: none;
  
}



.copyright p {
display: flex;
justify-content: flex-end;
font-family:'Montserrat', sans-serif ;
font-style: oblique;
font-size: 15px;
color: #000;
font-weight: 600;
}

.copyright p:hover {
  color: #18A0FB;
}

.copyright a{
  text-decoration: none;
}







