* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
  }
  
  html {
    font-size: 17px;

  }
  
  body {
    font-family: "Raleway", sans-serif;
  }
  
  
  
  
  #bt-up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:black;
    color: white;
    position:fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
  }
  
  
  
  h1 {
    font-family: 'Dosis', sans-serif;
    color: #fff;
    background-color: black;
  }
  
  .align-horiz {
    display: flex;
    flex-wrap: wrap;
  }
  
  .align-vert {
    display: flex;
    flex-direction: column;
  }
  
  .align-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  
   .button {
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
    padding: 10px 40px 10px 40px;
  
  }
  
  
  .navbar {
    background: #F5F5F5;
    position: fixed;
    transition: 0.4s;
    top:0 ;
  }
  
  
  
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .navbar li a {
    display: flex;
    text-decoration: none;
    margin-left: 35px;
    cursor: pointer;
  }
  
  .navbar li a:hover{
    color: rgb(0, 191, 255);
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 0px 10px 10px;
    opacity: 0.6;
    padding: 5px 10px 5px 10px;
  }
  
  

  /*//////////////container//////////////*/

  

.table-style  {
  margin-top: 50px;
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid midnightblue;
    width: 1100px;
    height: 600px;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: center;

}

.starter {
  color: #00ff4c;
}
.advanced {
  color: #ff0000;
}
.full {
  color: #0008ff;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

.starter-price{
font-size: 30px;
font-weight: 700;
color: #00ff4c;
}

.advanced-price{
  font-size: 30px;
  font-weight: 700;
color: #ff0000;
}

.full-price{
  font-size: 30px;
  font-weight: 700;
color: #0008ff;
}



.buy-starter {
  background-color: #00ff4c;
  border-radius: 90px;
  font-size: 20px;
  font-weight: 600;
}

.buy-starter:hover {
  background-color: #ffe600;
}

.buy-advanced {
  background-color:#ff0000;
  border-radius: 90px;
  font-size: 20px;
  font-weight: 600;
  }

  .buy-advanced:hover {
    background-color: #ffe600;
  }

.buy-full {
  background-color: #0008ff;
  border-radius: 90px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.buy-full:hover {
  background-color: #ffe600;
  color: black;
}




@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
  }
  th, td {
    padding: 10px 7px;
}

}









/*/////////////////footer///////////////////////////*/
