* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
  }
  
  html {
    font-size: 17px;
  }
  
  body {
    font-family: "Raleway", sans-serif;
    width: 100%;
    background: #fff;
  }
  
  
  
  
  #bt-up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:black;
    color: white;
    position:fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
  }
  
  hr{
    height: 1px;
    background-color: #000;
  }
  
  h1 {
    font-family: 'Dosis', sans-serif;
  }
  
  .align-horiz {
    display: flex;
    flex-wrap: wrap;
  }
  
  .align-vert {
    display: flex;
    flex-direction: column;
  }
  
  .align-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  
  .navbar button {
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
    padding: 10px 40px 10px 40px;
  
  }
  
  
  .navbar {
    background: #F5F5F5;
    position: fixed;
    transition: 0.4s;
    top:0 ;
  }
  
  
  
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .navbar li a {
    display: flex;
    text-decoration: none;
    margin-left: 35px;
    cursor: pointer;
  }
  
  .navbar li a:hover{
    color: rgb(0, 191, 255);
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 0px 10px 10px;
    opacity: 0.6;
    padding: 5px 10px 5px 10px;
  }
  
  .button a {
    text-decoration: none;
  }

  /*//////////////container//////////////*/
main{
  display: flex;
  justify-content: space-around;
}
  
#container {
  margin-top: 50px;
  margin-left: 70px;
}

.title h1{
  font-size: 80px;
  font-weight: 600;
}

.title h2{
  margin-top: 50px;
  font-size: 45px;
  
}

.title h3{
  margin-top: 60px;
  font-size: 25px;
}

.monthly{
  margin-top: 100px;
  background:turquoise ;
  border: 1px solid ;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  position: relative;
  left: 30px;
}

.yearly {
  margin-top: 100px;
  background:turquoise ;
  border: 1px solid ;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  position: relative;
  left: 150px;
}

/*///////////////////tarifs plan///////////*/

.price-plan{
  background-color: grey;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  border-radius: 50px;
  padding: auto;
margin-top: 50px;
padding: 20px 40px 20px 40px;
}

.training{
  color: white;
  display: flex;
  flex-direction: column;
}

.training h2{
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.training h3{
  display: flex;
  justify-content: center;
  margin-top:30px;
}

.training p{
  display: flex;
  justify-content: center;
  margin-top:50px;
  font-size: 90px;
}


.buy{
  display: flex;
  justify-content: center;
  border: 1px solid ;
  border-radius: 50px;
  background-color: yellow;
}


#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
position: relative;
min-height: 470px;

}

#banner img{
  position: absolute;
width: 50px;
height: 80px;
z-index: -1;
object-fit: cover;
object-position: center;
}

#banner .arrow {
  position: fixed;
  cursor: pointer;
}

#banner .arrow_left {
  left: 220px;
position: relative;
top: -555px;
cursor: pointer;

}

#banner .arrow_right {
  right: -710px;
  position: relative;
  top: -630px;
  cursor: pointer;

}

/*///////////*/

#banner p {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 900;
	font-size: 50px;
	line-height: 66px;
	color: white;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	position: relative;
}


#banner span {
	display: block;
	font-weight: 400;
	font-size: 30px;
}



























































/*/////////////////footer///////////////////////////*/
